@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body{
    background-color: pink;
}

.container
{
    height: 300px;
    width: 300px;
    
}

/*I will first create the circles needed*/
#circlered
{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: red;
    position: relative;
    top: -80px;
    right: -320px;
}

#circlegreen
{
    width:165px;
    height: 165px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: green;
    position: relative;
    top: 95px;
    right: -600px;
}

#circleblue
{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: blue;
    position:relative;
    top: -180px;
    right: -320px;
    
}

#circleyellow
{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: yellow;
    position: relative;
    right: -600px;
  
}

/**Then the circle needed for the middle part**/
#centercircle
{
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: grey;
    vertical-align: middle;
    padding: auto;
    position: relative;
    right: -420px;
    top: -520px;
  
}

/**Now we make the contents for the middle circle**/
#start
{
    background-color: grey;
    text-align: center;
    color: white;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-right: 4px solid white;
    padding:15px;
    position: relative;
    left: 80px;
    top: 30px;
    font-family: 'Orbitron', sans-serif;
  
}

#scorenum
{
    background-color: grey;
    text-align:center;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    position: relative;
    left: 175px;
    top: 80px;

}

#highnum
{
    background-color: grey;
    text-align:center;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-right: 5px solid white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    position: relative;
    top: -15px;
    left: 25px;

}

#score
{
    font-size: 15px;
    position: relative;
    left: 175px;
    top: 145px;
    font-family: 'Orbitron', sans-serif;

}

#highscore
{
    font-size: 15px;
    position: relative;
    left: 20px;
    top: -7px;
    font-family: 'Orbitron', sans-serif;

}

#onoroff
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    left: 105px;
    top: -10px;

}

/**Now we need the circle to hover**/
#circlered:hover
{
    background-color: white;
}

#circlegreen:hover
{
    background-color: white;
}

#circleblue:hover
{
    background-color: white;
}

#circleyellow:hover
{
    background-color: white;
}

#start:hover
{
    background-color: black;
}